## Question 4   Write a program to download the data from the link given below and then read the data and convert the into the proper structure and return it as a CSV file.

Link - https://data.nasa.gov/resource/y77d-th95.json
Note - Write code comments wherever needed for code understanding.
Excepted Output Data Attributes 

● Name of Earth Meteorite - string id - ID of Earth 

● Meteorite - int nametype - string recclass - string 

● mass - Mass of Earth Meteorite - float year - Year at which Earth

● Meteorite was hit - datetime format reclat - float recclong - float 

● point coordinates - list of int

In [4]:
import requests
import csv

def download_data(url):
    response = requests.get(url)
    data = response.json()
    return data

def convert_to_csv(data, filename):
    # Define the fieldnames for the CSV file
    fieldnames = [
        'name',
        'id',
        'nametype',
        'recclass',
        'mass (g)',
        'year',
        'reclat',
        'reclong',
        'coordinates'
    ]

# Open the CSV file in write mode
    with open(filename, 'w', newline='', encoding="utf-8") as csvfile:
        writer = csv.DictWriter(csvfile, fieldnames=fieldnames)

        # Write the header row
        writer.writeheader()

        # Write each meteorite's data as a row in the CSV file
        for meteorite in data:
            mass = meteorite.get('mass (g)', '')  # Check if key exists, provide default value if not
            writer.writerow({
                'name': meteorite.get('name', ''),
                'id': meteorite.get('id', ''),
                'nametype': meteorite.get('nametype', ''),
                'recclass': meteorite.get('recclass', ''),
                'mass (g)': mass,
                'year': meteorite.get('year', ''),
                'reclat': meteorite.get('reclat', ''),
                'reclong': meteorite.get('reclong', ''),
                'coordinates': meteorite.get('geolocation', {}).get('coordinates', [])
            })

    print(f"Data successfully saved as '{filename}'")

# Download the data from the API link
url = 'https://data.nasa.gov/resource/y77d-th95.json'
data = download_data(url)

# Convert the data into CSV format and save it
filename = '4_meteorites.csv'
convert_to_csv(data, filename)

Data successfully saved as '4_meteorites.csv'

In [7]:
import pandas as pd 
data=pd.read_csv('4_meteorites.csv')

In [8]:
data.head()

,name,id,nametype,recclass,mass (g),year,reclat,reclong,coordinates
0,Aachen,1,Valid,L5,NaN,1880-01-01T00:00:00.000,50.77500,6.08333,"[6.08333, 50.775]"
1,Aarhus,2,Valid,H6,NaN,1951-01-01T00:00:00.000,56.18333,10.23333,"[10.23333, 56.18333]"
2,Abee,6,Valid,EH4,NaN,1952-01-01T00:00:00.000,54.21667,-113.00000,"[-113, 54.21667]"
3,Acapulco,10,Valid,Acapulcoite,NaN,1976-01-01T00:00:00.000,16.88333,-99.90000,"[-99.9, 16.88333]"
4,Achiras,370,Valid,L6,NaN,1902-01-01T00:00:00.000,-33.16667,-64.95000,"[-64.95, -33.16667]"